---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/Article/ArticleCard.astro";

import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<BaseLayout>
	<section class="lastest-articles">
		<h2>Artículos recientes</h2>

		<ul>
			{
				blogEntries.map((blogPostEntry) => (
					<li>
						<ArticleCard
							slug={`/blog/${blogPostEntry.slug}`}
							title={blogPostEntry.data.title}
							date={blogPostEntry.data.date}
							description={blogPostEntry.data.description}
							image={blogPostEntry.data.image}
							imageAlt={blogPostEntry.data.imageAlt}
						/>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

<style>
	.lastest-articles {
		padding: var(--s-sm);
	}

	.lastest-articles ul {
		list-style: none;
		display: flex;
		display: flex;
		flex-direction: column;
		gap: var(--s-xxs);
	}
</style>
